.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.item1 {
  grid-column: 1 / 1;
  grid-row: 1;
}
.item2 {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.item3 {
  grid-column: 1;
  grid-row: 3 / 5;
}
.item4 {
  grid-column: 2;
  grid-row: 3;
}
.item5 {
  grid-column: 1;
  grid-row: 2;
}
.six {
  grid-column: 3;
  grid-row: 4;
}

body {
  background-color: #f9f9f9;
  font-family: 'Arial', sans-serif;
  color: #333;
}

h1, h2, h3 {
  color: #FF4081;
  text-align: center;
}

a {
  color: #FF4081;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #6A1B9A;
}

.cat-image {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cat-fact {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

.button {
  display: block;
  margin: 20px auto;
  background-color: #FF4081;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.cat-button:hover {
  background-color: #6A1B9A;
}