<!DOCTYPE html> 
<html> 
    <head> 
    <title>Page Title</title> 
    <link href="layout.css" rel="stylesheet" />
    </head> 
<body> 
    <div class="container">
        <div class="item1">
            <h1>CATS</h1>
        </div>
        <div class="item2">
            <h2>Welcome, hoomans, to a delightful world where elegance, grace, and mischief reign supreme. 
                Prepare to be captivated by the enigmatic allure of cats - 
                those mysterious creatures who have mastered the art of stealing hearts with a flick of their tail and a mesmerizing gaze.
            </h2>
        </div>
        <div class="item3"><p>Within these virtual walls, you will discover a treasure trove of wisdom, anecdotes, and tips to navigate the enigmatic realm of cat ownership. Whether you're a seasoned cat whisperer or a curious newcomer, this is the place to uncover the secrets of keeping your feline companion purring with contentment.
            From the regal Himalayans to the mischievous Maine Coons, we explore the diverse tapestry of feline breeds, each with its own unique personality and charm. Unravel the mysteries of their behavior, learn how to decode their subtle meows, and discover the secrets to a harmonious coexistence.
            Carefully curated tips and tricks will guide you through the labyrinth of cat care, covering everything from grooming and nutrition to creating the purr-fect environment that satisfies their every whisker twitch. Unleash your inner cat whisperer as you decode their body language, understand their desires, and build a bond that will withstand the test of time.
            So, whether you're seeking knowledge, inspiration, or simply a dose of feline enchantment, you've come to the right place. Embrace the magic of cats, where every whisker holds a story, and every meow is a symphony of secrets waiting to be unraveled.
        </p> </div>  
        <div class="item4">
            <p>Did you know that cats have a special reflective layer behind their retinas called the tapetum lucidum? 
            This incredible adaptation allows them to see in low light conditions, giving them a distinct advantage in their nocturnal adventures. 
            It's almost like having built-in night vision goggles! Meow, talk about a cool cat superpower!
            </p>
        </div>
        <div class="item5">
            <button type="button">Meow!</button></div>
      </div>
</body> 
</html>